<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">
                        <span class="light">{{ title_pre }}</span> {{ title }},
                    </h1>
                    <span class="tiny">{{ subtitle }}</span>
                    <div class="page-scroll">
                        <a href="#about" class="btn btn-circle">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>