<!doctype html>
<!--[if lt IE 7]>
<html class = "no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class = "no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class = "no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class = "no-js"> <!--<![endif]-->
	<head>
		<meta charset = "utf-8">
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
		<title>johannesreuter</title>
		<meta name = "description" content = "personal homepage">
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/grayscale.css">
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
		<script src="bower_components/modernizr/modernizr.js"></script>

	</head>
	<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
		<!--[if lt IE 10]>
		<p class = "browsehappy">You are using an <strong>outdated</strong> browser. Please
			<a href = "http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->


        {{> navigation }}
        
        {{> intro }}

        {{> about_me }}

        {{> projects }}

        <section id="skills" class="container content-section ">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Skills</h2>
                </div>
            </div>
            <div class="row">
                <div class="skill-item col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-image:url(img/skills/html5.png)">
                    <span class="skill-caption">
                        <span class="skill-caption-title">
                            HTML5
                        </span>
                        <span class="skill-caption-details">
                            Standard für moderne Websites mit Features wie lokale Datenbanken, Kamera-Zugriff, intelligente Formulare und vieles mehr.<br />
                            <strong>Skill-Level:</strong> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                        </span>
                    </span>
                    <!--<h2>HTML5</h2>-->
                </div>
                <div class="skill-item col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-image:url(img/skills/javascript.png)">
                    <span class="skill-caption">
                        <span class="skill-caption-title">
                            Java<wbr />Script
                        </span>
                        <span class="skill-caption-details">
                            Ermöglicht Programmierung komplexer Anwendungen, die direkt im Browser laufen<br />
                            <strong>Skill-Level:</strong> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                        </span>
                    </span>
                    <!--<h2>JavaScript</h2>-->
                </div>
                <div class="skill-item col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-image:url(img/skills/css3.png)">
                    <span class="skill-caption">
                        <span class="skill-caption-title">
                            CSS3
                        </span>
                        <span class="skill-caption-details">
                            Styling und Aussehen von Websites. Unterstützt Animationen und 3D-Effekte.<br />
                            <strong>Skill-Level:</strong> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                        </span>
                    </span>
                    <!--<h2>CSS3</h2>-->
                </div>
            </div>
            <div class="row">
                <div class="skill-item col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-image:url(img/skills/smarty.png)">
                     <span class="skill-caption">
                        <span class="skill-caption-title">
                            Smarty
                        </span>
                        <span class="skill-caption-details">
                            Serverseitige Templating-Engine, um möglichst schnell komplexe Layouts zu entwerfen.<br />
                            <strong>Skill-Level:</strong> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                        </span>
                    </span>
                    <!--<h2>Smarty</h2>-->
                </div>
                <div class="skill-item col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-image:url(img/skills/mysql.png)">
                    <span class="skill-caption">
                        <span class="skill-caption-title">
                            MySQL
                        </span>
                        <span class="skill-caption-details">
                            Datenbank-Sprache, ermöglicht die Formulierung komplexer Daten-Abfragen.<br />
                            <strong>Skill-Level:</strong> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                        </span>
                    </span>
                </div>
                <div class="skill-item col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-image:url(img/skills/canvas.png)">
                    <span class="skill-caption">
                        <span class="skill-caption-title">
                            Canvas
                        </span>
                        <span class="skill-caption-details">
                            HTML5-Element zum Zeichnen im Browser (z.B. 2D-Spiele oder Diagramm-Grafiken)<br />
                            <strong>Skill-Level:</strong> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                        </span>
                    </span>
                </div>

            </div>
            <div class="row">
                <div class="skill-item col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-image:url(img/skills/php.png)">
                    <span class="skill-caption">
                        <span class="skill-caption-title">
                            PHP
                        </span>
                        <span class="skill-caption-details">
                            Serverseitige Sprache zum Programmieren von Anwendungslogik (Nutzer-Authorisierung etc.)<br />
                            <strong>Skill-Level:</strong> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                        </span>
                    </span>
                </div>
                <div class="skill-item col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-image:url(img/skills/angular.png)">
                    <span class="skill-caption">
                        <span class="skill-caption-title">
                            Angular
                        </span>
                        <span class="skill-caption-details">
                            JavaScript-Framework, das schnelles Entwickeln von gut strukturierten Anwendungen ermöglicht.<br />
                            <strong>Skill-Level:</strong> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                        </span>
                    </span>
                </div>
                <div class="skill-item col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-image:url(img/skills/wordpress.png)">
                     <span class="skill-caption">
                        <span class="skill-caption-title">
                            Word<wbr />press
                        </span>
                        <span class="skill-caption-details">
                            Blog-Verwaltungstool, wird eingesetzt, um die Inhalte von Blogs oder Websites komfortabel im Browser zu verwalten.<br />
                            <strong>Skill-Level:</strong> <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                        </span>
                    </span>
                </div>
            </div>
        </section>

        <section id="contact" class="container content-section ">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Kontakt</h2>
                    <p>Bei Fragen oder Anmerkungen erreicht man mich durch folgende Kanäle:</p>
                    <ul class="contacts">
                        <li><a href="#"><span class="contact-icon"><i class="fa fa-envelope-o"></i></span> email@johannes-reuter.de</a></li>
                        <li><a href="#"><span class="contact-icon"><i class="fa fa-mobile"></i></span> 0176 / 1234567</a></li>
                        <li><a href="#"><span class="contact-icon"><i class="fa fa-github"></i></span> flash1293</a></li>
                        <li><a href="#"><span class="contact-icon"><i class="fa fa-facebook"></i></span> Johannes Reuter</a></li>
                        <li><a href="#"><span class="contact-icon"><i class="fa fa-reddit"></i></span> curian17</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="contact" class="container content-section ">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Impressum</h3>
                    <p>Bei Fragen oder Anmerkungen erreicht man mich durch folgende Kanäle:</p>
                </div>
            </div>
        </section>

		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/jquery-easing/jquery.easing.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="scripts/grayscale.js"></script>
        <script src="scripts/main.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- TODO: Google Analytics -->
	</body>
</html>
