<!doctype html>
<!--[if lt IE 7]>
<html class = "no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class = "no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class = "no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class = "no-js"> <!--<![endif]-->
	<head>
		<meta charset = "utf-8">
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
		<title>johannesreuter</title>
		<meta name = "description" content = "personal homepage">
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/grayscale.css">
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
		<script src="bower_components/modernizr/modernizr.js"></script>

	</head>
	<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
		<!--[if lt IE 10]>
		<p class = "browsehappy">You are using an <strong>outdated</strong> browser. Please
			<a href = "http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->


        {{> navigation }}
        
        {{> intro }}

        {{> about_me }}

        {{> projects }}

        {{> skills }}

        <section id="contact" class="container content-section ">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Kontakt</h2>
                    <p>Bei Fragen oder Anmerkungen erreicht man mich durch folgende Kanäle:</p>
                    <ul class="contacts">
                        <li><a href="#"><span class="contact-icon"><i class="fa fa-envelope-o"></i></span> email@johannes-reuter.de</a></li>
                        <li><a href="#"><span class="contact-icon"><i class="fa fa-mobile"></i></span> 0176 / 1234567</a></li>
                        <li><a href="#"><span class="contact-icon"><i class="fa fa-github"></i></span> flash1293</a></li>
                        <li><a href="#"><span class="contact-icon"><i class="fa fa-facebook"></i></span> Johannes Reuter</a></li>
                        <li><a href="#"><span class="contact-icon"><i class="fa fa-reddit"></i></span> curian17</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="contact" class="container content-section ">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Impressum</h3>
                    <p>Bei Fragen oder Anmerkungen erreicht man mich durch folgende Kanäle:</p>
                </div>
            </div>
        </section>

		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/jquery-easing/jquery.easing.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="scripts/grayscale.js"></script>
        <script src="scripts/main.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- TODO: Google Analytics -->
	</body>
</html>
